@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Who we are and what we do.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website is part of the Advanced Internet Technologies module of year 3 in the National College of Ireland.<br />
    The purpose of Bookings4U is to allow any business that accepts bookings to accept bookings online wihout the hassle of<br />
    setting up their own system. All the user(business) has to do is create an account, fill in some details and create their online calendar.<br />
    Once they have done this, the link to their calendar can be shared on their own website(if they already have one) or on any social media site.<br />
    The user will be brought to the calendar and can see availble slots to create a booking.</p>
<h3>Moving with the times</h3>
<p>With the current social situation, accepting online bookings can be a priority for alot of businesses, extra features such as max capacity, maximim per party<br />
    and maximum length of a booking time can also be set when creating the calendar.</p>
