@{
    ViewBag.Title = "Contact Us";
    ViewBag.Message = "Bookings4U";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mayor Square<br />
    Dublin 1<br />
    Ireland<br />
    <abbr title="Phone">Ph:</abbr>
    01 4498 500
</address>

<address>
    <strong>Information:</strong>   <a href="mailto:info@ncirl.ie">info@ncirl.ie</a><br />
    <strong>Support:</strong> <a href="mailto:admissions@ncirl.ie">admissions@ncirl.ie</a>
</address>