@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bookings4U</h1>
    <p class="lead">Find the business you want to make a booking with, view their calendar, make a booking, simple!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Make a Booking &raquo;</a></p>
</div>

<div id="home_content" class="row">
    <div class="col-md-6">
        <h2>What it is?</h2>
        <p>
            Bookings4U is a web application to allow business owners to take bookings without the need to setup their own systems. An easy, hassle free webapp to help your business grow.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Why us?</h2>
        <p>As a business that accepts bookings, allowing online bookings just makes sense. Simply share your Bookings Calender and your customers can do the rest.</p>
        <p><a class="btn btn-default" href="/Account/Register">Create Account &raquo;</a></p>
    </div>
</div>